registry=https://geckorobotics.jfrog.io/geckorobotics/api/npm/npm/
//geckorobotics.jfrog.io/geckorobotics/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJSZ25DcnBEVXlKOV9yNElVRnNSU2hqU0E0aGpibEpjZ0M2bnJhN3ZqcTNNIn0.eyJzdWIiOiJqZnJ0QDAxY2pwdDc0N3ZyNHo0MTU4MHNiN3MxYW14XC91c2Vyc1wvYXJ0dXJvLmNhbXBvcyIsInNjcCI6ImFwcGxpZWQtcGVybWlzc2lvbnNcL2dyb3VwczpyZWFkZXJzLGRlcGxveS1kZXYtbnBtLGRlcGxveS1sb2NhbCIsImF1ZCI6ImpmcnRAMDFjanB0NzQ3dnI0ejQxNTgwc2I3czFhbXgiLCJpc3MiOiJqZnJ0QDAxY2pwdDc0N3ZyNHo0MTU4MHNiN3MxYW14XC91c2Vyc1wvYXJ0dXJvLmNhbXBvcyIsImV4cCI6MTY1NTkzMDA4NCwiaWF0IjoxNjU1OTI2NDg0LCJqdGkiOiJhYWQ4NmU2Yy03ZjU1LTQyMzEtODYxYi01YzBkOGVjZDBmMTAifQ.b_-Mb7U7yVfE1G2rUXqQt14U7mOltkk2RfGpMgJMG6XaZk4p3MkCiWnU6JNrjUWOFdJbf5wm76R04q_jTdq8-C5T1mkSUDmNAC4cMutrVaGx1Xh4Jc1hFNkrD-1VZ4DxuIHjBMUboxB8wm_ameOzviEDaLiweqAlGjF5JUQInwfo4ysOHEWuLzHOZCpfYp0UBZzw0U_dCtopKtcPJ6ZVeYa1ZPukqdwtN1RJiZrOD4OO19oZGn5WItaC2P22BhNo4Pd8q2ToTQOscUvG-Ox7YeZ_kBhWk2qHq0tnktxdn_6oji6tdhlNr62Olee7Xn57B7RPfNpvgVa7_8rCBUIIAQ
always-auth=true
//geckorobotics.jfrog.io/artifactory/api/npm/npm/:_password=QVAzUWFQdjR3bmk2ZnE2bWNEa0dzNkZvRHI4
//geckorobotics.jfrog.io/artifactory/api/npm/npm/:username=arturo.campos
//geckorobotics.jfrog.io/artifactory/api/npm/npm/:email=arturo.campos@geckorobotics.com
//geckorobotics.jfrog.io/artifactory/api/npm/npm/:always-auth=true
