registry=https://geckorobotics.jfrog.io/geckorobotics/api/npm/npm/
//geckorobotics.jfrog.io/geckorobotics/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJSZ25DcnBEVXlKOV9yNElVRnNSU2hqU0E0aGpibEpjZ0M2bnJhN3ZqcTNNIn0.eyJzdWIiOiJqZnJ0QDAxY2pwdDc0N3ZyNHo0MTU4MHNiN3MxYW14XC91c2Vyc1wvYXJ0dXJvLmNhbXBvcyIsInNjcCI6ImFwcGxpZWQtcGVybWlzc2lvbnNcL2dyb3VwczpyZWFkZXJzLGRlcGxveS1kZXYtbnBtLGRlcGxveS1sb2NhbCIsImF1ZCI6ImpmcnRAMDFjanB0NzQ3dnI0ejQxNTgwc2I3czFhbXgiLCJpc3MiOiJqZnJ0QDAxY2pwdDc0N3ZyNHo0MTU4MHNiN3MxYW14XC91c2Vyc1wvYXJ0dXJvLmNhbXBvcyIsImV4cCI6MTY1NTg0NDE3NiwiaWF0IjoxNjU1ODQwNTc2LCJqdGkiOiJmNDNkNTRmZC1lODM1LTQwNWItOGI5OS00NjAyMDhlZGJiMWIifQ.UVk5f9Mb3Coje3LVt0Bc2LtUpdCuHCsiJNkxGbLxZaALj2t3nXBtza9IgXX2ORscKzH_OBwAEni32DmENuaxHvnorKmVYbt4JjRftPPEVROP1Kl2yzWwI64VVyu_e8gOfsXXe-uJOOQIM_G983gYSTumhVwNZwO2fpXn04eSfllttYHXSdVuu1Om2MQ-gEQ39QwbFvc4hmJyMiI9FkvmNodxHZ5wtPAZy9ehXP8G8AIfO4PseaKDIc6LTG64Rla1hq9Fp9K18U0OEY-TzXOwd6dNjTHbDSTgAQATV6lMhRjOZl5etKG0r-QYJrQP008LNe8uDOPBUHNV79k-WURs6A
always-auth=true
//geckorobotics.jfrog.io/artifactory/api/npm/npm/:_password=QVAzUWFQdjR3bmk2ZnE2bWNEa0dzNkZvRHI4
//geckorobotics.jfrog.io/artifactory/api/npm/npm/:username=arturo.campos
//geckorobotics.jfrog.io/artifactory/api/npm/npm/:email=arturo.campos@geckorobotics.com
//geckorobotics.jfrog.io/artifactory/api/npm/npm/:always-auth=true
