registry=https://geckorobotics.jfrog.io/geckorobotics/api/npm/npm/
//geckorobotics.jfrog.io/geckorobotics/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJSZ25DcnBEVXlKOV9yNElVRnNSU2hqU0E0aGpibEpjZ0M2bnJhN3ZqcTNNIn0.eyJzdWIiOiJqZnJ0QDAxY2pwdDc0N3ZyNHo0MTU4MHNiN3MxYW14XC91c2Vyc1wvYXJ0dXJvLmNhbXBvcyIsInNjcCI6ImFwcGxpZWQtcGVybWlzc2lvbnNcL2dyb3VwczpyZWFkZXJzLGRlcGxveS1kZXYtbnBtLGRlcGxveS1sb2NhbCIsImF1ZCI6ImpmcnRAMDFjanB0NzQ3dnI0ejQxNTgwc2I3czFhbXgiLCJpc3MiOiJqZnJ0QDAxY2pwdDc0N3ZyNHo0MTU4MHNiN3MxYW14XC91c2Vyc1wvYXJ0dXJvLmNhbXBvcyIsImV4cCI6MTY1NTkyMTc3NCwiaWF0IjoxNjU1OTE4MTc0LCJqdGkiOiIwMDM1ZWVlNi01NDQ0LTRhOWEtOTg2MS05YzZlNDZjNTkwNGIifQ.PFPH5_5jGlRztwbVfwjkzVjVbacMxYIHgQfuqbC2_5a9W1wuiioydUw81u1Ca_pfOjaPanPGjS4EtZMnMtRitsT3nvyUL9OEkyIPg4CuOxYJPKvMrrBxlUf5tXGmYoZNT90c-kQG-h_ysS18iaejLKidHZklL9WVmQAv_l_P6s0r8HIV7fVxC8ux93hVc25Jr017NyyDQDkCm9movq34a3uUrHvEaRNd1WKSRaZK_GqxglVDPMuqRtFS3jL0avK1oHgI8K3LzzYFIkk_QfecstX1QAZfLjj0EAU_Dj6SqRhgk8z68TTSzBhcW7CvwxRvCa_6c45D3V62k0mzEKXQDw
always-auth=true
//geckorobotics.jfrog.io/artifactory/api/npm/npm/:_password=QVAzUWFQdjR3bmk2ZnE2bWNEa0dzNkZvRHI4
//geckorobotics.jfrog.io/artifactory/api/npm/npm/:username=arturo.campos
//geckorobotics.jfrog.io/artifactory/api/npm/npm/:email=arturo.campos@geckorobotics.com
//geckorobotics.jfrog.io/artifactory/api/npm/npm/:always-auth=true
